In [2]:
import os
import numpy as np
import pandas as pd
import xarray as xr

from cartopy import config
import cartopy.feature as cfeature
import cartopy.crs as ccrs
from cartopy.mpl.geoaxes import GeoAxes
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import AxesGrid
from mpl_toolkits.axes_grid1 import ImageGrid

from cartopy.mpl.ticker import LongitudeFormatter, LatitudeFormatter
import matplotlib.pyplot as plt

In [6]:
path_X_station_train = "Train/X_station_train.csv"
path_Y_train = "Train/Y_train.csv"

In [4]:
X_station_train = pd.read_csv(path_X_station_train, sep = ",")
X_station_train.head()

,number_sta,date,ff,t,td,hu,dd,precip,Id
0,14066001,2016-01-01 00:00:00,3.05,279.28,277.97,91.4,200.0,0.0,14066001_0_0
1,14066001,2016-01-01 01:00:00,2.57,278.76,277.45,91.4,190.0,0.0,14066001_0_1
2,14066001,2016-01-01 02:00:00,2.26,278.27,277.02,91.7,181.0,0.0,14066001_0_2
3,14066001,2016-01-01 03:00:00,2.62,277.98,276.95,93.0,159.0,0.0,14066001_0_3
4,14066001,2016-01-01 04:00:00,2.99,277.32,276.72,95.9,171.0,0.0,14066001_0_4

In [7]:
Y_train = pd.read_csv(path_Y_train, sep = ",")
Y_train.head()

         date  number_sta  Ground_truth          Id
0  2016-01-02    14066001           3.4  14066001_0
1  2016-01-02    14126001           0.5  14126001_0
2  2016-01-02    14137001           3.4  14137001_0
3  2016-01-02    14216001           4.0  14216001_0
4  2016-01-02    14296001          13.3  14296001_0

In [4]:
def open_nc_2D_119(filenc):
    f = xr.open_dataset(filenc)
    latitude = f['latitude']
    longitude = f['longitude']
    ws = f['ws'] # wind speed
    p3031 = f['p3031'] # wind direction?
    u10 = f['u10'] # composante horizontale à 10m ouest -> est
    v10 = f['v10'] # composante verticale à 10m sud -> nord
    t2m = f['t2m'] # temp. 2m
    d2m = f['d2m'] # direction 2m
    r = f['r'] # relative humidity (kind of)
    Id = f['Id'] # station id
    f.close()
    return latitude, longitude, ws, p3031, u10, v10, t2m, d2m, r, Id

In [5]:
# filenc = os.path.join('Test','Test','X_forecast','2D_arpege_119.nc')
filenc = '2D_arpege_119.nc'
latitude, longitude, ws, p3031, u10, v10, t2m, d2m, r, Id = open_nc_2D_119(filenc)

In [9]:
latmax = np.max(np.array(latitude))
latmin = np.min(np.array(latitude))
lonmax = np.max(np.array(longitude))
lonmin = np.min(np.array(longitude))

In [ ]:
def plot_background(ax):
    ax.gridlines(crs=ccrs.PlateCarree(), linewidth=0.5, color='gray', alpha=0.5, linestyle='-')
    ax.set_xticks(np.arange(lonmin, lonmax, 5.), crs=ccrs.PlateCarree())
    ax.set_yticks(np.arange(latmin,latmax,5.), crs=ccrs.PlateCarree())
    lon_formatter = LongitudeFormatter(zero_direction_label=True)
    lat_formatter = LatitudeFormatter()
    ax.xaxis.set_major_formatter(lon_formatter)
    ax.yaxis.set_major_formatter(lat_formatter)
    ax.coastlines('50m')
    
    return ax

In [ ]:
clevels = np.arange(0,1.5,0.5)
fig = plt.figure(figsize=(20,15))
fig.suptitle('', fontsize=20)
ax1 = fig.add_subplot(1,2,1, projection=ccrs.Orthographic(central_longitude = 210, central_latitude = 60))
ax1.set_title('North Pacific', fontsize=16,loc='center')
plot_background_ortho(ax1)
ax1.set_global()
cf = ax1.contourf(lon, lat, mask_condition_respected, [0.0, 0.5], transform=ccrs.PlateCarree(), cmap='Greys')

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=3d1983fd-af9f-4e58-8bc2-38ae8e817983' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>